@media only screen and (min-width: 801px) {
  .toolbar {
    display: none;
  }

  #desktop_header {
    display: flex;
    justify-content: center;
    padding: 2vw 2vw;
    border-bottom: 1px solid #dddfe6;
  }

  .header_item {
    margin: 0 1.5vw;
    text-decoration: none;
    color: #1a2236;
    font-family: Poppins, sans-serif;
    font-weight: 400;
  }
}
