@media only screen and (min-width: 801px) {
  /* hide elements */

  .toolbar,
  .geometrical_div,
  .img_proj1,
  .del {
    display: none;
  }

  /* header elements */

  #dt_header {
    display: flex;
    justify-content: center;
    padding: 2vw 2vw;
    border-bottom: 1px solid #dddfe6;
  }

  .header_item {
    margin: 0 1.5vw;
    text-decoration: none;
    color: #1a2236;
    font-family: Poppins, sans-serif;
    font-weight: 400;
  }

  #dt_intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .intro {
    display: grid;
    justify-self: center;
    align-self: center;
    margin-left: 12vw;
    color: #1a2236;
    height: 100%;
  }

  .intro .name {
    font-family: 'Playfair Display', sans-serif;
    font-size: 6vw;
    font-weight: 500;
    line-height: 6vw;
    margin: 6vw 6vw 3vw 0;
  }

  .intro .paragraph {
    font-family: Poppins, sans-serif;
    font-size: 1vw;
    font-weight: 400;
    margin: 0 6vw 3vw 0;
  }

  .btn {
    display: flex;
    font-size: 2vw;
    text-decoration: none;
    color: #fff;
    background-color: #1a2236;
    padding: 1vw 2vw;
    font-family: Poppins, sans-serif;
    transition: 0.3s;
    margin-right: 65%;
    align-self: center;
  }

  .btn h6 {
    font-weight: 400;
  }

  .btn:hover {
    color: #1a2236;
    background-color: #fff;
    border: 1px solid #1a2236;
    transition: 0.3s;
  }

  .btn:focus {
    border: 2px solid #1a2236;
    transition: 0.3s;
  }

  #dots1 {
    align-self: end;
    justify-self: end;
  }

  #dt_geom_intro {
    width: 100%;
  }

  /* projects elements */

  #main_project {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 12vw;
  }

  #main_proj_left {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  #main_title {
    font-size: 8vw;
    position: relative;
    transform: rotate(-90deg);
    left: 3vw;
    align-self: center;
  }

  #dots2 {
    align-self: start;
    justify-self: end;
  }

  #main_proj_right {
    background-image: url(/icons/project1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 2fr;
  }

  .no_del {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 2vw;
    background-color: #1a2236f2;
    z-index: 10;
    font-family: Poppins, sans-serif;
  }

  .descr h2 {
    font-weight: 700;
    color: #fff;
    font-size: 4vw;
  }

  .lang {
    display: flex;
    align-self: center;
  }

  .lang h3 {
    margin-right: 4vw;
    padding: 0.4vw 0.8vw;
    color: #1a2236;
    background-color: #98dede;
    font-weight: 300;
  }

  .btn2 {
    display: flex;
    font-size: 2vw;
    text-decoration: none;
    color: #1a2236;
    background-color: #fff;
    padding: 1vw 2vw;
    font-family: Poppins, sans-serif;
    transition: 0.3s;
    margin-right: 60%;
    align-self: center;
  }

  .btn2:hover {
    color: #fff;
    background-color: #1a2236;
    border: 1px solid #fff;
    transition: 0.3s;
  }

  .btn2:focus {
    color: #fff;
    background-color: #1a2236;
    border: 2px solid #fff;
    transition: 0.3s;
  }

  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10vw;
  }

  #about_left {
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    font-family: Poppins, sans-serif;
  }

  .languages {
    background-color: #1c528a;
  }

  .frameworks {
    background-color: #e2505c;
  }

  .skills {
    background-color: #febf52
  }

  .languages,
  .frameworks,
  .skills,
  #about_dots {
    color: #fff;
    padding: 2vw 0 0 2vw;
    display: grid;
  }

  .about_left h2 {
    margin-bottom: 1vw;
  }

  .about_icon,
  #dots3 {
    align-self: end;
    justify-self: end;
  }

  #dots3 {
    width: 15vw;
  }

  /* About section */

  #about_right {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
    margin: 0 4vw 0 4vw;
  }

  .about_title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 8vw;
  }

  .par {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 1vw;
    margin-bottom: 2vw;
  }

  .cv {
    font-size: 1vw;;
    margin-right: 50%;
  }
}
