@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 800px) {
  .toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .left-header {
    display: flex;
    position: relative;
    height: 100%;
  }

  .right-header {
    display: flex;
    justify-content: center;
  }

  .figure2 {
    position: relative;
    left: -25%;
    height: 100%;
  }

  .menu {
    border: none;
    color: #1a2236;
    background-color: #fff;
    padding: 20px;
    width: auto;
    height: auto;
  }

  .menu-icon {
    height: 20px;
    width: 20px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    padding: 8vw 4vw;
    color: #1a2236;
  }

  .name,
  .main_title,
  .about_title {
    font-size: 15vw;
    font-family: "Playfair Display", sans-serif;
    line-height: 1;
    margin-bottom: 5vw;
    font-weight: 400;
  }

  .intro p {
    font-size: 5vw;
    margin-bottom: 8vw;
    font-family: Poppins, sans-serif;
    font-weight: 400;
  }

  .btn {
    display: flex;
    justify-content: center;
    font-size: 6vw;
    text-decoration: none;
    color: #fff;
    background-color: #1a2236;
    padding: 5vw 0;
    font-weight: 500;
    text-align: center;
    font-family: Poppins, sans-serif;
    transition: 0.3s;
    z-index: 10;
  }

  .geometrical_div {
    display: flex;
    padding-top: 2vh;
    padding-bottom: 6vh;
  }

  .geometrical_div img {
    flex: 1;
  }

  main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: #1a2236;
    color: #fff;
  }

  .template img {
    box-sizing: content-box;
    width: 100%;
  }

  .descr {
    grid-template: 20% 20% 20% 20% 20% / 80vw;
    grid-row-gap: 3vw;
    padding: 5vw;
    display: grid;
  }

  .descr h2 {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 6vw;
  }

  .descr h3 {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 3vw;
  }

  .descr button {
    border: none;
    color: #1a2236;
    background: #fff;
    width: auto;
    height: auto;
    margin-top: 5vw;
    padding: 3vw 0;
    transition: 0.3s;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 5vw;
    align-self: center;
  }

  .descr button:hover {
    color: #fff;
    background: #1a2236;
    border: 1px solid #fff;
  }

  .descr button:focus {
    color: #fff;
    background: #1a2236;
    border: 2px solid #fff;
  }

  .descr button h2 {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 5vw;
    align-self: center;
  }

  .descr button span {
    font-size: 5vw;
  }

  .lang {
    display: grid;
    grid-template: 100% / 1fr 1fr 1fr;
    grid-column-gap: 1vw;
    text-align: center;
  }

  .lang h3 {
    background: #98dede;
    color: #1a2236;
    padding: 1vw;
  }

  .main_title {
    padding: 0 4vw 4vw 4vw;
  }

  .about_title,
  .about {
    padding: 0 4vw 4vw 4vw;
    margin-bottom: 0;
    color: #1a2236;
  }

  .about_title {
    padding-top: 10vw;
  }

  .par {
    padding-bottom: 5vw;
    font-family: Poppins, sans-serif;
    font-size: 3vw;
  }

  .cv {
    border: none;
    color: #fff;
    background: #1a2236;
    margin-top: 5vw;
    padding: 3vw 0;
    transition: 0.3s;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 5vw;
    width: 100%;
    margin-bottom: 8vw;
  }

  .btn:hover,
  .cv:hover {
    color: #1a2236;
    background-color: #fff;
    border: 1px solid #1a2236;
  }

  .btn:focus,
  .cv:focus {
    color: #1a2236;
    background-color: #fff;
    border: 2px solid #1a2236;
  }

  .languages {
    position: relative;
    padding: 10vw;
    background: #1c528a;
    color: #fff;
    margin-bottom: 5vw;
  }

  .frameworks {
    position: relative;
    padding: 10vw;
    background: #e2505c;
    margin-bottom: 5vw;
    color: #fff;
  }

  .skills {
    position: relative;
    background: #febf52;
    padding: 10vw;
    color: #fff;
  }

  .about_subtitle {
    font-weight: 800;
    font-family: Poppins, sans-serif;
    margin-bottom: 5vw;
    font-size: 6vw;
  }

  .about ul {
    padding-left: 4vw;
    font-family: Poppins, sans-serif;
    font-size: 4vw;
  }

  .thing {
    margin-bottom: 2vw;
  }

  .about_icon {
    float: inline-end;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 85%;
  }

  #form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-between;
    padding: 0 4vw 4vw 4vw;
    margin-top: 15vw;
  }

  #form .ul {
    list-style: none;
    padding: 0;
    margin-bottom: 16vw;
  }

  #form h2,
  #form p {
    padding: 0 4vw 4vw 0;
  }

  .form_title {
    font-size: 15vw;
    font-family: "Playfair Display", sans-serif;
    line-height: 1;
    margin-top: 15vw;
    margin-bottom: 1vw;
    font-weight: 400;
  }

  #form input,
  #form textarea {
    width: 92%;
    border: none;
    background: transparent;
  }

  #form button {
    display: flex;
    justify-content: center;
    font-size: 5vw;
    text-decoration: none;
    color: #fff;
    background-color: #1a2236;
    padding: 3vw 0;
    font-weight: 500;
    text-align: center;
    font-family: Poppins, sans-serif;
    transition: 0.3s;
    width: 100%;
    border: none;
  }

  #form button:hover {
    color: #1a2236;
    background-color: #fff;
    border: 1px solid #1a2236;
  }

  .inside {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-grow: 1;
    margin: auto;
  }

  .inside,
  .textarea {
    border: 1px solid #dfdfe0;
    margin: 2vw 0;
    border-radius: 2vw;
  }

  #form .buttom {
    padding: 0;
    align-self: center;
    margin-top: 2vw;
    margin-bottom: 16vw;
  }

  #form input,
  #form textarea,
  #form label {
    margin: 2vw 4vw 2vw 4vw;
    color: #7d7c84;
    font-family: Poppins, sans-serif;
    font-size: 4vw;
  }

  #form input:focus,
  #form textarea:focus {
    margin: 2vw 4vw 2vw 4vw;
    outline: none;
    color: black;
  }

  #form li:focus {
    border: 3px solid #1a2236;
  }

  #form label {
    color: #7d7c84;
    font-size: 3vw;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    margin: 2vw 4vw 0 4vw;
  }

  #form .textarea {
    margin-bottom: 8vw;
  }

  .form-par {
    font-family: Poppins, sans-serif;
    font-size: 4vw;
    padding: 0 0 0 5vw;
  }

  .left-form {
    display: flex;
    position: relative;
    height: 100%;
  }

  .figure3 {
    position: relative;
    left: -10%;
    height: 100%;
  }

  footer {
    background: #1a2236;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 8vw;
    padding-bottom: 5vw;
  }

  footer section,
  footer div {
    margin: 0 4vw;
    background-color: #1a2236;
  }

  #resume {
    color: #92dcdc;
    font-family: Poppins, sans-serif;
    margin-bottom: 5vw;
  }

  #resume h6 {
    font-weight: 400;
    font-size: 5vw;
  }

  #social_media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 10vw;
  }
}
